@page "/information"
@using Core.Models.Entity;
@using Core.Models.Repository;
@inject ISectionRepo _sectionRepo
@inject IDescribeRepo _describeRepo
@inject IImageRepo _imageRepo
@inject ILeaderShipRepo _leaderShipRepo

    <!--About-------------------------------------------------------------------------------------------------------------------->
<div class="mytabs" style = "justify-content:center">
    @foreach (var _section in _sections)
    {
        @if(_section.Name == "About")
        {
                
                    <input type="radio" id="@_section.Name" name="mytabs" checked="checked">
                <label for="@_section.Name">@_section.Name</label>
            <div class="tab">
                <div class="contents1" style ="padding-top:70px">
                    <div class="about">
                        <div class ="heading"style ="padding-bottom:55px">
                                    <h2 style="margin-bottom:5px"><p>@TakeDescription(_section.Id,"Big Title")</p></h2>
                            <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
                        </div>
                        <div class ="image">
                            <img style ="width:500px" src="@TakeImage(_section.Id, null)">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p><span style="color:#ff0000;">
                                    <span style="font-size:22px;">
                                                <strong>@TakeDescription(_section.Id,"General Manager")</strong>
                                    </span>
                                </span>
                            </p>

                            <div>

                            <div class="name"><span>@TakeDescription(_section.Id,"Position Manager")</span></div>

                            <div class="name1">
                                    <div><span style="color:#ff0000;">@TakeDescription(_section.Id,"Slogan")</span></div>

                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="text" style="padding:70px; padding-left:170px; background-color:rgb(245, 245, 245)">
                                <span style="margin-bottom:15px">@TakeDescription(_section.Id,"Tag")</span>
                                <h2 style="margin-bottom:25px">@TakeDescription(_section.Id,"Title")</h2>
                                <p style="margin-bottom:15px">@TakeDescription(_section.Id,"Detail")</p>
                    </div>
                </div>

            </div>
            
        }

    <!--Vision-------------------------------------------------------------------------------------------------------------------->
        @if (_section.Name == "Vision")
        {
            
    <input type="radio" id="@_section.Name" name="mytabs">
                <label for="@_section.Name">@_section.Name</label>
    <div class="tab" style ="padding-left:20px; padding-right:20px">
        <div class="content2" style ="padding-top:70px">
            <div class ="heading"style ="padding-bottom:55px">
                        <h2 style="margin-bottom:5px">@TakeDescription(_section.Id,"Big Title")</h2>
                <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
            </div>
            <div class ="body" style ="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em;">
                <div class ="text" style ="padding:50px 60px 50px 60px">
                        <h2>@TakeDescription(_section.Id,"Title")u</h2>

                        <p>@TakeDescription(_section.Id,"Detail")</p>
                </div>
                 <div class ="image">
                        <img src="@TakeImage(_section.Id,"Image 1")" />
                </div>
                 <div class ="text" style ="padding:50px 60px 50px 60px">
                                <h2>@TakeDescription(_section.Id,"Title2")</h2>

                                <p>@TakeDescription(_section.Id,"Detail2")</p>
                </div>
                 <div class ="image">
                        <img src="@TakeImage(_section.Id,"Image 2")" />
                </div>
            </div>
        </div>

    </div>
        }


    <!--History-------------------------------------------------------------------------------------------------------------------->
        @if (_section.Name == "History")
        {
            
        <input type="radio" id="@_section.Name" name="mytabs">
                <label for="@_section.Name">@_section.Name</label>
    <div class="tab" style ="padding-left:20px; padding-right:20px">
        <div class="content2" style ="padding-top:70px">
            <div class ="heading"style ="padding-bottom:55px">
                <h2 style="margin-bottom:5px">@TakeDescription(_section.Id,"Big Title")</h2>
                <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
            </div>
            <div class="image">
                <img src="@TakeImage(_section.Id,null)">
            </div>
        </div>

    </div>
        }
    <!--CEO-------------------------------------------------------------------------------------------------------------------->
        @if (_section.Name == "Leadership")
        {
            
        <input type="radio" id="@_section.Name" name="mytabs">
        <label for="@_section.Name">@_section.Name</label>
    <div class="tab" style ="padding-left:20px; padding-right:20px">
        <div class="content2" style ="padding-top:70px">
            <div class ="heading"style ="padding-bottom:55px">
                <h2 style="margin-bottom:5px">@TakeDescription(_section.Id,"Big Title")</h2>
                <span style="margin-left:20px">MBA INTERNATIONAL JSC</span>
            </div>
            <div class="ceo" style ="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-gap: 1.5em;">

                @foreach(var _leaderShip in _leaderShips)
                {
                    <div class="ceo1">
                        <img src="@_leaderShip.ImageUrl">
                        <div class="i-desc">
                            <div class="i-title">
                                <h3><a href="#" tabindex="0">@_leaderShip.Name</a></h3>
                            </div>
                            <div class="i-content">@_leaderShip.Position</div>
                        </div>
                    </div>        
                }

            </div>
        </div>

    </div>
        }

    }
</div>
    
@code{
    private List<Section> _sections = new List<Section>();
    private List<Describe> _describes = new List<Describe>();
    private List<Image> _images = new List<Image>();
    private List<LeaderShip> _leaderShips = new List<LeaderShip>();
    protected override async Task OnInitializedAsync()
    {
        _sections = await _sectionRepo.GetAllSection(2);
        _leaderShips = await _leaderShipRepo.GetAllLeaderShipAsync();


    }

    protected List<Describe> TakeAllDescriptionBySectionId(int sectionId)
    {
        foreach(var _section in _sections)
        {
            if(_section.Id == sectionId)
            {
                _describes = _describeRepo.GetAllDescribeAsync(sectionId);
            }
        }
        return _describes;
    }
    protected string TakeDescription(int sectionId, string Name)
    {
        var _describes = TakeAllDescriptionBySectionId(sectionId);
        var _description = _describes.Where(s => s.Name == Name).Select(s => s.Description).FirstOrDefault();
        return _description;
    }

    protected List<Image> TakeAllImageBySectionId(int sectionId)
    {
        
        foreach (var _section in _sections)
        {
            if (_section.Id == sectionId)
            {
                _images = _imageRepo.GetAllImage(sectionId);
            }
        }
        return _images;
    }

    protected string TakeImage(int sectionId, string Name)
    {
        var _images = TakeAllImageBySectionId(sectionId);
        var _image = _images.Where(s => s.Name == Name).Select(s => s.Url).FirstOrDefault();
        return _image;
    }


}
    